<script>
    function addHtmlToModal(formHtml) {
        modalBody.html(formHtml);
        modal.show();
        setTimeout(function () {
            modalContent.addClass('show');
        }, 10);
    }

    $('.close').on('click', function () {
        closeModal();
    });

    $('.close_button').on('click', function () {
        console.log("close click");
        closeModal();
    });

    $(window).on('click', function (event) {
        if (event.target.id === 'modal') {
            closeModal();
        }
    });

    function closeModal() {
        modalContent.removeClass('show');
        setTimeout(function () {
            modal.hide();
        }, 50);
    }
</script>