<script>

    var grid_width = parseInt("{{grid_width}}");
    var grid_height = parseInt("{{grid_height}}");
    var filter_name = "{{filter_name}}";

    var dragging = false;
    var element_id = null;
    var imageUrl = null;
    var grid_element_id = null;

    function initiate_grid() {
        var grid_string = "";

        for (let height_loop = 0; height_loop < grid_height; height_loop++) {
            grid_string += `<div class="row no-gutters">`;
            for (let width_loop = 0; width_loop < grid_width; width_loop++) {
                grid_string += `<div class="col">
                                <div class="square grid_square" id="H`+ height_loop + `W` + width_loop + `">
                                    <div class="square-content rounded">
                                    <div class="text-center text-white" style="font-size: 0.45vw;" id="H`+ height_loop + `W` + width_loop + `content"></div>
                                    </div>
                                </div>
                            </div>`;
            }
            grid_string += "</div>";
        }
        $("#grid_map").empty();
        $("#grid_map").append(grid_string);
        initiate_grid_images();
    }

    function initiate_grid_images() {
        $.ajax({
            type: "GET",
            url: "{% url 'map:grid_view' %}",
            data: {
                type: "grid_images",
                map: filter_name
            },
            success(response) {
                console.log(response.grid_parts);
                for (var key in response.grid_parts) {
                    var temp_id = $("#H" + response.grid_parts[key].position_y + "W" + response.grid_parts[key].position_x + "content");
                    if (temp_id.find("img").length == 0) {
                        var tempimage = "/media/" + response.grid_parts[key].image
                        if (response.grid_parts[key].image == null || response.grid_parts[key].image == "") {
                            tempimage = "/static/defaultIMG.png";
                        }
                        image_html = `<img src="` + tempimage + `" alt=""
                        style="object-fit: cover; height: 85%; width: 85%; cursor: pointer;">`;
                        temp_id.empty();
                        temp_id.append(image_html);
                    }
                }
            },
            error(response) {

            }
        });
    }

    $(document).on("click", "#filter_button", function (event) {
        filter_prefabs_list();
    });

    function filter_prefabs_list() {
        $.ajax({
            type: "GET",
            url: "{% url 'map:grid_view' %}",
            data: {
                type: "filter",
                filter_name: $("#filter_name").val()
            },
            success(response) {
                console.log(response);
                draw_prefabs(response);
            },
            error(response) {
                console.log(response);
            }
        });
    }

    function draw_prefabs(response) {
        var prefabs_list = response.prefabs;
        var width = 3;

        var prefabs_string = "";
        var prefabs_name_string = "";
        var loop_count = 0;
        var tempimage = "";
        for (var key in prefabs_list) {
            var tempimage = "/media/" + prefabs_list[key].image
            if (prefabs_list[key].image == null || prefabs_list[key].image == "") {
                tempimage = "/static/defaultIMG.png";
            }
            if (loop_count == 0) {
                prefabs_string += `<div class="row no-gutters">`;
                prefabs_string += `<div class="col">
                                    <div class="square" style="cursor: pointer;">
                                        <div class="square-content rounded draggable" id="`+ prefabs_list[key].name + `">
                                            <img src="`+ tempimage + `" alt=""
                                            style="object-fit: cover; height: 85%; width: 85%;">
                                        </div>
                                    </div>
                                </div>`;
                prefabs_name_string += `<div class="row no-gutters">`;
                prefabs_name_string += `<div class="col-sm-12 col-md-4 black_border py-2 d-flex justify-content-center align-items-center" style="background-color: #191c24;">
                                            <div class="text-white text-center" style="font-size: 0.5vw;">`+ prefabs_list[key].name + `</div>
                                        </div>`;
            }
            else if (loop_count < width) {
                prefabs_string += `<div class="col">
                                        <div class="square" style="cursor: pointer;">
                                            <div class="square-content rounded draggable" id="`+ prefabs_list[key].name + `">
                                                <img src="`+ tempimage + `" alt=""
                                                style="object-fit: cover; height: 85%; width: 85%;">
                                            </div>
                                        </div>
                                    </div>`;
                prefabs_name_string += `<div class="col-sm-12 col-md-4 black_border py-2 d-flex justify-content-center align-items-center" style="background-color: #191c24;">
                                            <div class="text-white text-center" style="font-size: 0.5vw;">`+ prefabs_list[key].name + `</div>
                                        </div>`;
            }
            loop_count++;
            if (loop_count == width) {
                prefabs_string += "</div>";
                prefabs_name_string += "</div>";
                prefabs_string += prefabs_name_string;
                prefabs_name_string = "";
                loop_count = 0;
            }
            else if (key == prefabs_list.length - 1) {
                for (loop_count; loop_count < width; loop_count++) {
                    prefabs_string += `<div class="col">
                                        <div class="square" style="cursor: pointer;">
                                            <div class="square-content rounded" id="none">
                                            </div>
                                        </div>
                                    </div>`;
                    prefabs_name_string += `<div class="col-sm-12 col-md-4 black_border py-2 d-flex justify-content-center align-items-center" style="background-color: #191c24;">
                                            <div class="text-white text-center" style="font-size: 0.5vw;">None</div>
                                        </div>`;
                }
                prefabs_string += "</div>";
                prefabs_name_string += "</div>";
                prefabs_string += prefabs_name_string;
                prefabs_name_string = "";
            }
        }
        $("#prefab_list").empty();
        $("#prefab_list").append(prefabs_string);
    }

    initiate_grid();
    filter_prefabs_list();

    $(document).on("click", ".draggable", function (event) {
        if (!dragging) {
            element_id = $(this).attr("id");
            imageUrl = $(this).find("img").attr("src");

            console.log("Element ID: " + element_id);
            console.log("Image URL: " + imageUrl);

            dragging = true;
            $(".draggingimage").attr("src", imageUrl);
            $(".draggingimage").css({
                display: "inline",
                left: event.pageX - $(".draggingimage").width() / 2,
                top: event.pageY - $(".draggingimage").height() / 2
            });
        } else {
            dragging = false;
            $(".draggingimage").css("display", "none");
        }
    });

    $(document).on("click", ".grid_square", function (event) {
        grid_element_id = $(this).attr("id");
        if (!dragging) {
            console.log("Cicked: " + $(this).attr("id"));
            list_modal(grid_element_id);
        } else {
            dragging = false;
            console.log("Cicked: " + $(this).attr("id") + " from: " + element_id);
            $(".draggingimage").css("display", "none");
            creat_modal(element_id, grid_element_id);
            element_id = null;
            grid_element_id = null;
        }
    });

    $(document).mousemove(function (e) {
        if (dragging) {
            var imgWidth = $(".draggingimage").width();
            var imgHeight = $(".draggingimage").height();
            $(".draggingimage").css({
                left: e.pageX - imgWidth / 2,
                top: e.pageY - imgHeight / 2
            });
        }
    });

    $(document).on("click", ".editform", function (event) {
        grid_element_id = $(this).attr("id");
        edit_form_modal(grid_element_id);
    });

    function edit_form_modal(grid_element_id) {
        name = grid_element_id.replace("editform", "");
        $.ajax({
            type: "GET",
            url: "{% url 'map:grid_view' %}",
            data: {
                type: "grid_part_edit_form",
                name: name,
                map: filter_name
            },
            success(response) {
                console.log(response);
                if (response.success == false) {
                    alert(response.error);
                    return
                }
                var html_for_form = edit_form_modal_html(response);
                addHtmlToModal(html_for_form);
                var data = response.grid_parts[0];
                if (data.head_pec_fitted) {
                    $("#head_pec_fitted").prop("checked", true);
                }
                if (data.encoder_fitted) {
                    $("#encoder_fitted").prop("checked", true);
                }
                if (data.tail_pec_fitted) {
                    $("#tail_pec_fitted").prop("checked", true);
                }
            },
            error(response) {
                console.log(response);
            }
        });
    }

    function edit_form_modal_html(response) {
        data = response.grid_parts[0];
        return `
            <h2 class="text-white text-center">Edit Grid Part</h2>
            <form class="forms-sample" id="myForm">
                {% csrf_token %}
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_12("text", "name", "Name", data.name) + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("number", "speed1", "Speed 1", data.speed1, "step='0.01'") + `
                `+ form_helper_4("number", "speed2", "Speed 2", data.speed2, "step='0.01'") + `
                `+ form_helper_4("number", "speed3", "Speed 3", data.speed3, "step='0.01'") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("number", "stand_by_time", "Stand By Time", data.stand_by_time, "") + `
                `+ form_helper_4("checkbox", "head_pec_fitted", "Head PEC Fitted", data.head_pec_fitted, "") + `
                `+ form_helper_4("checkbox", "tail_pec_fitted", "Tail PEC Fitted", data.tail_pec_fitted, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("number", "head_pect_distance", "Head PEC Distance", data.head_pect_distance, "") + `
                `+ form_helper_4("number", "tail_pect_distance", "Tail PEC Distance", data.tail_pect_distance, "") + `
                `+ form_helper_4("number", "cm_number", "CM Number", data.cm_number, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("checkbox", "encoder_fitted", "Encoder Fitted", data.encoder_fitted, "") + `
                `+ form_helper_4("number", "ramp_up", "Ramp Up", data.ramp_up, "") + `
                `+ form_helper_4("number", "ramp_down", "Ramp Down", data.ramp_down, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                
                `+ form_helper_4("number", "start_position_fwd", "Start Pos FWD", data.start_position_fwd, "") + `
                `+ form_helper_4("number", "start_position_rev", "Start Pos REV", data.start_position_rev, "") + `
                `+ form_helper_4("number", "group_id", "Group ID", data.group_id, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("number", "cm_head", "CM Head", data.cm_head, "") + `
                `+ form_helper_4("number", "cm_tail", "CM Tail", data.cm_tail, "") + `
                `+ form_helper_4("file", "image_id", "Image", "", "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_6("number", "pos_x", "Position X", data.position_x, "readonly") + `
                `+ form_helper_6("number", "pos_y", "Position Y", data.position_y, "readonly") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                    <div class="col-sm-12 col-md-3 btn btn-primary px-2" onclick="submit_form('edit')">
                        Submit
                    </div>
                    <div class="col-sm-12 col-md-3 btn btn-danger px-2" onclick="delete_form('` + data.name + `')">
                        Delete
                    </div>
                    <div class="col-sm-12 col-md-3 btn btn-secondary px-2" onclick="closeModal()">
                        Cancel
                    </div>
                </div>
            </form >
        `;
    }

    function delete_form(name) {
        $.ajax({
            type: "GET",
            url: "{% url 'map:grid_view' %}",
            data: {
                type: "delete",
                name: name,
                map: filter_name
            },
            success(response) {
                if (response.success) {
                    var grid_part_id = $("#H" + $("#pos_y").val() + "W" + $("#pos_x").val() + "content");
                    if (!response.addimage) {
                        grid_part_id.empty();
                        closeModal();
                        return;
                    }
                    var tempimage = response.imageurl
                    if (response.imageurl == null || response.imageurl == "") {
                        tempimage = "/static/defaultIMG.png";
                    }
                    image_html = `<img src="` + tempimage + `" alt=""
                        style="object-fit: cover; height: 85%; width: 85%;  cursor: pointer;">`;
                    grid_part_id.empty();
                    grid_part_id.append(image_html)
                    closeModal();
                }
                else {
                    alert(response.error);
                }
            },
            error(response) {
                console.log(response);
            }
        });
    }

    function list_modal(grid_element_id) {
        var grid_coords = extract_coords(grid_element_id);
        $.ajax({
            type: "GET",
            url: "{% url 'map:grid_view' %}",
            data: {
                type: "grid_part_list",
                map: filter_name,
                pos_x: grid_coords.W,
                pos_y: grid_coords.H
            },
            success(response) {
                console.log(response);
                var html_for_form = list_modal_html(response, grid_coords);
                if (!html_for_form) {
                    return;
                }
                addHtmlToModal(html_for_form);
            },
            error(response) {
                console.log(response);
            }
        });
    }

    function list_modal_html(response, grid_coords) {
        var prefabs_list = response.grid_parts;
        var width = 4;
        var loop_count = 0;
        var prefabs_string = "";
        var tempimage = "";
        var prefabs_name_string = "";
        for (var key in prefabs_list) {
            tempimage = "/media/" + prefabs_list[key].image
            if (prefabs_list[key].image == null || prefabs_list[key].image == "") {
                tempimage = "/static/defaultIMG.png";
            }
            if (loop_count == 0) {
                prefabs_string += `<div class="row no-gutters">`;
                prefabs_string += `<div class="col">
                                    <div class="square black_border" style="cursor: pointer;">
                                        <div class="square-content rounded editform" id="`+ prefabs_list[key].name + `editform">
                                            <img src="`+ tempimage + `" alt=""
                                            style="object-fit: cover; height: 85%; width: 85%;">
                                        </div>
                                    </div>
                                </div>`;
                prefabs_name_string += `<div class="row pt-2 no-gutters">`;
                prefabs_name_string += `<div class="col-sm-12 col-md-3 black_border py-2 d-flex justify-content-center align-items-center" style="background-color: #191c24;">
                                            <div class="text-white text-center" style="font-size: 0.5vw;">`+ prefabs_list[key].name + `</div>
                                        </div>`;
            }
            else if (loop_count < width) {
                prefabs_string += `<div class="col">
                                        <div class="square black_border" style="cursor: pointer;">
                                            <div class="square-content rounded editform" id="`+ prefabs_list[key].name + `editform">
                                                <img src="`+ tempimage + `" alt=""
                                                style="object-fit: cover; height: 85%; width: 85%;">
                                            </div>
                                        </div>
                                    </div>`;
                prefabs_name_string += `<div class="col-sm-12 col-md-3 black_border py-2 d-flex justify-content-center align-items-center" style="background-color: #191c24;">
                                            <div class="text-white text-center" style="font-size: 0.5vw;">`+ prefabs_list[key].name + `</div>
                                        </div>`;
            }
            loop_count++;
            if (loop_count == width) {
                prefabs_string += "</div>";
                prefabs_name_string += "</div>";
                prefabs_string += prefabs_name_string;
                prefabs_name_string = "";
                loop_count = 0;
            }
            else if (key == prefabs_list.length - 1) {
                for (loop_count; loop_count < width; loop_count++) {
                    prefabs_string += `<div class="col">
                                        <div class="square black_border" style="cursor: pointer;">
                                            <div class="square-content rounded" id="none">
                                            </div>
                                        </div>
                                    </div>`;
                    prefabs_name_string += `<div class="col-sm-12 col-md-3 black_border py-2 d-flex justify-content-center align-items-center" style="background-color: #191c24;">
                                            <div class="text-white text-center" style="font-size: 0.5vw;">None</div>
                                        </div>`;
                }
                prefabs_string += "</div>";
                prefabs_name_string += "</div>";
                prefabs_string += prefabs_name_string;
                prefabs_name_string = "";
            }
        }
        return prefabs_string;
    }

    function creat_modal(prefab_id, grid_id) {
        $.ajax({
            type: "GET",
            url: "{% url 'map:grid_view' %}",
            data: {
                type: "prefab_get",
                prefab: prefab_id
            },
            success(response) {
                console.log(response);
                if (response.success != true) {
                    alert(response.error);
                    return
                }
                grid_coords = extract_coords(grid_id);
                var html_for_form = create_modal_form(response, grid_coords, prefab_id);
                addHtmlToModal(html_for_form);
                var data = response.prefab[0];
                if (data.head_pec_fitted) {
                    $("#head_pec_fitted").prop("checked", true);
                }
                if (data.encoder_fitted) {
                    $("#encoder_fitted").prop("checked", true);
                }
                if (data.tail_pec_fitted) {
                    $("#tail_pec_fitted").prop("checked", true);
                }
            },
            error(response) {
                console.log(response);
            }
        });
    }

    function extract_coords(str) {
        let h_match = str.match(/H(\d+)/);
        let w_match = str.match(/W(\d+)/);

        let h_number = h_match ? h_match[1] : null;
        let w_number = w_match ? w_match[1] : null;

        return { H: h_number, W: w_number };
    }

    $(document).on("click", "#head_pec_fitted", function (event) {
        if ($(this).is(":checked")) {
            $(this).val("true");
        } else {
            $(this).val("false");
        }
    });

    $(document).on("click", "#tail_pec_fitted", function (event) {
        if ($(this).is(":checked")) {
            $(this).val("true");
        } else {
            $(this).val("false");
        }
    });

    $(document).on("click", "#encoder_fitted", function (event) {
        if ($(this).is(":checked")) {
            $(this).val("true");
        } else {
            $(this).val("false");
        }
    });

    $(document).on("click", ".export_button", function (event) {
        $.ajax({
            type: "GET",
            url: "{% url 'map:grid_view' %}",
            data: {
                type: "export",
                map: filter_name
            },
            success(response) {
                var temp_a = document.createElement('a');
                var temp_url = window.URL.createObjectURL(new Blob([response], { type: 'text/csv' }));
                temp_a.href = temp_url;
                temp_a.download = 'filtered_data.csv';
                document.body.append(temp_a);
                temp_a.click();
                temp_a.remove();
                window.URL.revokeObjectURL(temp_url);
            },
            error(response) {
                console.log(response);
            }
        });
    });

    function create_modal_form(response, grid_coords, prefab_id) {
        data = response.prefab[0];
        return `
            <h2 class="text-white text-center">Create Grid Part</h2>
            <form class="forms-sample" id="myForm">
                {% csrf_token %}
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_8("text", "name", "Name", "", "") + `
                `+ form_helper_4("text", "prefab", "Prefab", prefab_id, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("number", "speed1", "Speed 1", data.speed1, "step='0.01'") + `
                `+ form_helper_4("number", "speed2", "Speed 2", data.speed2, "step='0.01'") + `
                `+ form_helper_4("number", "speed3", "Speed 3", data.speed3, "step='0.01'") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("number", "stand_by_time", "Stand By Time", data.stand_by_time, "") + `
                `+ form_helper_4("checkbox", "head_pec_fitted", "Head PEC Fitted", data.head_pec_fitted, "") + `
                `+ form_helper_4("checkbox", "tail_pec_fitted", "Tail PEC Fitted", data.tail_pec_fitted, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("number", "head_pect_distance", "Head PEC Distance", data.head_pect_distance, "") + `
                `+ form_helper_4("number", "tail_pect_distance", "Tail PEC Distance", data.tail_pect_distance, "") + `
                `+ form_helper_4("number", "cm_number", "CM Number", data.cm_number, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("checkbox", "encoder_fitted", "Encoder Fitted", data.encoder_fitted, "") + `
                `+ form_helper_4("number", "ramp_up", "Ramp Up", data.ramp_up, "") + `
                `+ form_helper_4("number", "ramp_down", "Ramp Down", data.ramp_down, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                
                `+ form_helper_4("number", "start_position_fwd", "Start Pos FWD", data.start_position_fwd, "") + `
                `+ form_helper_4("number", "start_position_rev", "Start Pos REV", data.start_position_rev, "") + `
                `+ form_helper_4("number", "group_id", "Group ID", data.group_id, "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_4("number", "cm_head", "CM Head", data.cm_head, "") + `
                `+ form_helper_4("number", "cm_tail", "CM Tail", data.cm_tail, "") + `
                `+ form_helper_4("file", "image_id", "Image", "", "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_6("number", "pos_x", "Position X", grid_coords.W, "readonly") + `
                `+ form_helper_6("number", "pos_y", "Position Y", grid_coords.H, "readonly") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                    <div class="col-sm-12 col-md-12 btn btn-primary" onclick="submit_form('create')">
                        Submit
                    </div>
                </div>
            </form >
        `;
    }

    function submit_form(type) {
        var formData = new FormData();
        var name = $("#name").val();
        var image = $("#image_id")[0];
        if (image) {
            if (image.files.length > 0) {
                image = image.files[0];
            }
            else {
                image = null;
            }
        }
        else {
            image = null;
        }
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        formData.append('name', name);
        formData.append("type", type);
        formData.append('image', image);
        formData.append("prefab", $("#prefab").val());
        formData.append("speed1", $("#speed1").val());
        formData.append("speed2", $("#speed2").val());
        formData.append("speed3", $("#speed3").val());
        formData.append("stand_by_time", $("#stand_by_time").val());
        formData.append("head_pec_fitted", $("#head_pec_fitted").val());
        formData.append("tail_pec_fitted", $("#tail_pec_fitted").val());
        formData.append("head_pect_distance", $("#head_pect_distance").val());
        formData.append("tail_pect_distance", $("#tail_pect_distance").val());
        formData.append("cm_number", $("#cm_number").val());
        formData.append("encoder_fitted", $("#encoder_fitted").is(":checked"));
        formData.append("ramp_up", $("#ramp_up").val());
        formData.append("ramp_down", $("#ramp_down").val());
        formData.append("start_position_fwd", $("#start_position_fwd").val());
        formData.append("start_position_rev", $("#start_position_rev").val());
        formData.append("group_id", $("#group_id").val());
        formData.append("cm_head", $("#cm_head").val());
        formData.append("cm_tail", $("#cm_tail").val());
        formData.append("pos_x", $("#pos_x").val());
        formData.append("pos_y", $("#pos_y").val());
        formData.append("map", filter_name);
        $.ajax({
            type: "POST",
            url: "{% url 'map:grid_view' %}",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrfToken);
            },
            success(response) {
                if (response.success == false) {
                    alert(response.error);
                }
                else {
                    var grid_part_id = $("#H" + $("#pos_y").val() + "W" + $("#pos_x").val() + "content");
                    var tempimage = response.imageurl
                    if (response.imageurl == null || response.imageurl == "") {
                        tempimage = "/static/defaultIMG.png";
                    }
                    image_html = `<img src="` + tempimage + `" alt=""
                    style="object-fit: cover; height: 85%; width: 85%;  cursor: pointer;">`;
                    grid_part_id.empty();
                    grid_part_id.append(image_html)
                    closeModal();
                }
            },
            error(response) {
                console.log(response);
            }
        });
    }

</script>