<script>

    var modal = $('#modal');
    var modalContent = $('.modal-content');
    var modalBody = $('#modal-body');

    var filterButton = $("#filter_button");

    $("#filter_button").on("click", function () {
        var name = $("#filter_name").val();
        var url = "../map_collection?filter_name=" + name;
        window.location.href = url;
    });

    $('.open-modal').on('click', function () {
        var formType = $(this).data('form-type');
        console.log("form-type: " + formType);
        if (formType == "create") {
            var formHtml = generateCreateForm();
            addHtmlToModal(formHtml);
        }
        else {
            var url = "../grid_view?filter_name=" + formType;
            window.location.href = url;
        }
    });

    function generateCreateForm() {
        return `
            <h2 class="text-white text-center">Create Conveyor Prefab</h2>
            <form class="forms-sample" id="myForm">
                {% csrf_token %}
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_12("text", "name", "Name", "", "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                `+ form_helper_6("number", "width", "Grid Width", "24", "") + `
                `+ form_helper_6("number", "height", "Grid Height", "24", "") + `
                </div>
                <div class="form-group row d-flex">
                `+ form_helper_6("file", "image", "Image", "", "") + `
                </div>
                <div class="form-group row d-flex justify-content-between">
                    <div class="col-sm-12 col-md-12 btn btn-primary" onclick="submit_form('create')">
                        Submit
                    </div>
                </div>
            </form >
        `;
    }

    function submit_form(original_name) {
        console.log("SUBMIT CLICKED");
        var formData = new FormData();
        var image = $("#image")[0].files[0];
        var name = $("#name").val();
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        formData.append('image', image);
        formData.append('name', name);
        formData.append("type", "create");
        formData.append("width", $("#width").val());
        formData.append("height", $("#height").val());
        formData.append("original_name", original_name);
        $.ajax({
            type: "POST",
            url: "{% url 'map:map_collection' %}",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrfToken);
            },
            success(response) {
                if (response.error != false) {
                    alert(response.error);
                }
                else {
                    location.reload();
                }
            },
            error(response) {
                console.log(response);
            }
        });
    }

</script>