<script>

    function form_helper(type, id, label, value, attr) {
        form_string = `
            <div class="col-sm-2 col-form-label">
                <label for="name" style="font-size:0.75vw; width:100%;">`+ label + `:</label>
            </div>
            <div class="col-sm-4" style="font-size:0.75vw; width:100%;">
                <input type="`+ type + `" id="` + id + `" name="` + id + `" value="` + value + `" ` + attr + ` >
            </div>`;
        return form_string
    }

</script>