<script>

    var modal = $('#modal');
    var modalContent = $('.modal-content');
    var modalBody = $('#modal-body');

    $('.open-modal').on('click', function () {
        var formType = $(this).data('form-type');
        if (formType == "create") {
            var formHtml = generateCreateForm();
        }
        else {
            var formHtml = generateExistingForm(formType);
        }


        modalBody.html(formHtml);
        modal.show();
        setTimeout(function () {
            modalContent.addClass('show');
        }, 10);
    });


    $('.close').on('click', function () {
        closeModal();
    });

    $('.close_button').on('click', function () {
        console.log("close click");
        closeModal();
    });

    $(window).on('click', function (event) {
        if (event.target.id === 'modal') {
            closeModal();
        }
    });

    function closeModal() {
        modalContent.removeClass('show');
        setTimeout(function () {
            modal.hide();
        }, 50);
    }

    function generateExistingForm(formType){
        $.ajax({
            type:"GET",
            url:"",
            data:{
                name:formType,
                type:"modal_get"
            },
            success(response){
                console.log(response);
                if (response.error == true){
                    // alert("Something wrong with database for this prefab");
                    // location.reload();
                }



            },
            error(response){
                console.log(response);
                // alert("Something wrong with database for this prefab");
                // location.reload();
            }
        });
    }

    function generateCreateForm() {
        return `
            <h2 class="text-white text-center">Create Conveyor Prefab</h2>
            <form class="forms-sample" id="myForm">
                `+ form_helper("text", "name", "Name", "") + `
                `+ form_helper("number", "length", "Length", "") + `
                `+ form_helper("number", "width", "Width", "") + `
                `+ form_helper("number", "height", "Height", "") + `
                `+ form_helper("image", "image", "Image", "") + `
                <div class="form-group row d-flex justify-content-between">
                    <div class="col-sm-12 col-md-12 btn btn-primary" onclick="submit_form()">
                        Submit
                    </div>
                </div>
            </form >
        `;
    }

    function submit_form(){
        console.log("SUBMIT CLICKED");
        var formData = $('#myForm').serialize();
        $.ajax({
            type:"GET",
            url:"",
            data:{
                name:$("#name").val(),
                length:$("#length").val(),
                width:$("#width").val(),
                height:$("#height").val(),
                image:$("#image").val(),
                type:"create"
            },
            success(response){
                console.log(response);
                if (response.error == true){

                }



            },
            error(response){
                console.log(response);
            }
        });
    }

</script>