{% extends 'base.html' %} {% load static %}

{% block body %}
<link rel="stylesheet" href="{% static '/assets/css/modal.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/square.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/jquery-ui.css' %}">

<div class="row">
    <div class="col-sm-12 col-md-2" style="height: 93vh;">
        <div class="row pb-3">
            <div class="col-12">
                <a class="btn btn-danger" style="width: 100%;" href="{% url 'map:map_collection' %}">BACK</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center" style="font-size: 1vw;">Filter Prefabs</div>
                        <div class="form-group">
                            <label for="filter_name" class="text-center" style="font-size: 1vw;">Prefab</label>
                            <input type="text" class="form-control text-white" id="filter_name" style="width: 100%;"
                                value="">
                        </div>
                        <div class="btn btn-success text-center" style="width: 100%;" id="filter_button">Filter</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 scroll-container" id="prefab_list" style="height: 60vh;">
                
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-10 scroll-container" id="grid_map" style="height: 93vh;">
        <div class="row no-gutters">
            <div class="col">
                <div class="square">
                    <div class="square-content rounded"></div>
                </div>
            </div>
            <div class="col">
                <div class="square">
                    <div class="square-content rounded"></div>
                </div>
            </div>
        </div>
    </div>
    <img class="draggingimage" src="" alt="HTML5 Icon" style="display: none; position:absolute; height: 5vh; width: auto; pointer-events: none;">
</div>
<script>
    $("#sidebar").css("display", "none");
    $(".container-fluid").css("width", "100%");
</script>
<script src="{% static '/assets/js/jquery-ui.min.js' %}"></script>
{% include 'javascript/javascript_grid.html' %}

{% endblock %}