{% extends 'base.html' %} {% load static %}

{% block body %}
<link rel="stylesheet" href="{% static '/assets/css/modal.css' %}">

<div class="row">
    <div class="col-sm-12 col-md-2">
        <div class="row">
            <div class="col-12 grid-margin stretch-card rounded">
                <div class="card d-flex justify-content-center">
                    <div class="card-body">
                        <div class="text-center" style="font-size: 1vw;">Filter maps</div>
                        <br>
                        <div class="form-group">
                            <label for="filter_name">Map Name:</label>
                            <input type="text" class="form-control text-white" id="filter_name" style="width: 100%;" value="{{filter_name}}">
                        </div>
                        <div class="btn btn-primary text-center" style="width: 100%;" id="filter_button">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-10">
        <div class="row">
            <div class="col-sm-12 col-md-2 grid-margin stretch-card rounded d-flex justify-content-center align-items-center create_box open-modal"
                style="max-height: 20vh; cursor: pointer;" data-form-type="create">
                <div class="create pb-3" style="font-size: 14vw;">+</div>
            </div>
            {% for map in maps %}
            <div class="col-sm-12 col-md-2 grid-margin stretch-card rounded d-flex justify-content-center open-modal"
                style="max-height: 20vh; height: 20vh; cursor: pointer;" data-form-type="{{map.name}}">
                <div class="card d-flex justify-content-center align-items-center">
                    <div class="card-title text-center" style="font-size: 1vw;">{{map.name}}</div>
                    {% if map.image %}
                    <img src="{{ map.image.url }}" alt="{{ map.image }}" class="pb-3"
                        style="object-fit: cover; height: 75%; width: 75%;">
                    {% else %}
                    <p style="font-size: 1vw;">No image available</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modal-body"></div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.map_collection_view').addClass('active');
    });

</script>

<style>
    .create_box {
        background-color: #286b28;
    }

    .create_box:hover {
        background-color: #5cb85c;
    }
</style>

{% include 'javascript/javascript_form_helpers.html' %}
{% include 'javascript/javascript_maps.html' %}

{% endblock %}